@{
    ViewData["Title"] = "Home Page";
}
@model IList<Cadastro.Entities.ContatoTelefone>
<div id="interface">
    <form class="form-inline my-2 my-lg-0" asp-action="Index" method="get">
        <input class="form-control mr-sm-2" type="search" name="SearchString" placeholder="Ex.: João" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>

    <div#ancora>
        <table>
            <thead>
                <tr>
                    <th>
                        <h2>Nome</h2>
                    </th>
                    <th>
                        <h2>CPF</h2>
                    </th>
                    <th>
                        <h2>CEP</h2>
                    </th>
                    <th>
                        <h2>Telefones</h2>
                    </th>
                </tr>
            </thead>
        </table>

    </div#ancora>

    @foreach (var a in Model)
    {
        <table class="table">

            <tbody>
                @foreach (var item in a.Contato)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cep)
                        </td>
                        <td>
                            <ul>
                                <h4>Telefones:</h4>
                                @foreach (var telefones in a.Telefones)
                                {
                                    <li>
                                        @Html.DisplayFor(modelItem => telefones)
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
